<div class="popup-layout" *ngFor="let popup of popupList" (click)="closePopupByOut($event, popup)">
  <div class="popup-block" [ngStyle]="getBlockStyle(popup)">
    <span class="popup-close" *ngIf="popup.option.showHeader">
      <label [ngStyle]="{ color: popup.option.titleColor }">{{ popup.option.title }}</label>
      <span class="close-btn" (click)="closePopup(popup)">
        <span class="left" [ngStyle]="{ 'background-color': popup.option.closeBtnColor }"></span>
        <span class="right" [ngStyle]="{ 'background-color': popup.option.closeBtnColor }"></span>
      </span>
    </span>
    <div class="popup-content">
      <ng-template ngxPopup></ng-template>
    </div>
  </div>
</div>